<div class="container">
  <div class="close">
    <button mat-button type="button" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-card *ngFor="let product of cartProducts">
    <mat-card-header class="card-content">
      <b>{{ product.name }}</b
      ><b>R{{ product.price }}</b>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>{{ product.description }}</p>
      <button
        mat-button
        type="button"
        class="delete-btn"
        (click)="removeItemFromCart(product)"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
  <div class="close">Total: {{ total }}</div>
  <button mat-button class="submit" type="button" (click)="checkOutItems()">
    proceed to checkout
  </button>
</div>
