<nav>
    <div class="logo">
        <a href="">
            <img src="favicon.ico" alt="">
        </a>
    </div>
    <div class="search-bar">
        <form action="">
            <div class="search-cont">
                <mat-icon matPrefix>search</mat-icon>
                <input type="search" name="" id="" placeholder="Search">
            </div>
                
        </form>
    </div>
    <div class="user-actions" >
        <button mat-button type="button"><mat-icon>person</mat-icon></button>
        <button mat-button type="button" (click)="logIn()">Log in</button>
        <button mat-button type="button" (click)="signUp()">Sign up</button>
        <button mat-button type="button"><mat-icon>dark_mode</mat-icon></button>
    </div>
</nav>

<div class="products">
    xcxzxzxz
</div>