<nav>
  <div class="logo">
    <a routerLink="">
      <img src="assets/images/gamer.png" alt="" />
    </a>
  </div>
  <div class="search-bar">
    <form action="">
      <div class="search-cont">
        <mat-icon matPrefix>search</mat-icon>
        <input type="search" name="" id="" placeholder="Search" />
      </div>
    </form>
  </div>

  <!-- SIGNED IN-->
  <div class="user-actions" *ngIf="user != null">
    <button mat-button type="button" (click)="openAccountInfo($event)">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-button type="button" (click)="veiwWishlist()">
      <mat-icon
        [matBadge]="wishlist.length"
        matBadgeOverlap="true"
        class="transparent-badge"
        >favorite</mat-icon
      >
    </button>
    <button mat-button type="button" (click)="viewCart()">
      <mat-icon
        [matBadge]="cart.length"
        matBadgeOverlap="true"
        class="transparent-badge"
        >shopping_cart</mat-icon
      >
    </button>
    <button mat-button type="button"><mat-icon>dark_mode</mat-icon></button>
  </div>

  <!--NOT SIGNED IN-->
  <div class="user-actions" *ngIf="user == null">
    <button mat-button type="button" (click)="logIn()">
      <mat-icon>login</mat-icon>Log in
    </button>
    <button mat-button type="button" (click)="signUp()">
      <mat-icon>person_add</mat-icon>Sign up
    </button>
    <button mat-button type="button"><mat-icon>dark_mode</mat-icon></button>
  </div>
  <div class="user-actions name" *ngIf="user != null">
    <b>{{ user.first_name.substring(0, 1) + ". " + user.last_name }}</b>
    <button mat-button (click)="logout()">
      Logout<mat-icon matSuffix>logout</mat-icon>
    </button>
  </div>
</nav>

<div class="products">
  <div class="categories">
    <h1>Shop by category</h1>
    <div class="categories-container">
      <mat-card class="category" (click)="shopByCatergory('GPU')">
        <img
          mat-card-img
          src="https://cdn.pixabay.com/photo/2017/09/29/05/38/pc-2798015_1280.jpg"
          alt=""
        />
        <mat-card-content>
          <b>Graphics Card</b>
        </mat-card-content>
      </mat-card>

      <mat-card class="category" (click)="shopByCatergory('CPU')">
        <img
          mat-card-img
          src="https://cdn.pixabay.com/photo/2019/08/08/16/56/cpu-4393384_1280.jpg"
          alt=""
        />
        <mat-card-content>
          <b>Processor</b>
        </mat-card-content>
      </mat-card>

      <mat-card class="category" (click)="shopByCatergory('Laptop')">
        <img
          mat-card-img
          src="https://cdn.pixabay.com/photo/2016/02/17/15/37/laptop-1205256_1280.jpg"
          alt=""
        />
        <mat-card-content>
          <b>Laptop</b>
        </mat-card-content>
      </mat-card>

      <mat-card class="category" (click)="shopByCatergory('Desktop')">
        <img
          mat-card-img
          src="https://cdn.pixabay.com/photo/2021/11/22/14/23/computer-6816638_1280.jpg"
          alt=""
        />
        <mat-card-content>
          <b>Desktop</b>
        </mat-card-content>
      </mat-card>

      <mat-card class="category" (click)="shopByCatergory('Headset')">
        <img
          mat-card-img
          src="https://cdn.pixabay.com/photo/2018/03/27/00/50/child-3264751_1280.jpg"
          alt=""
        />
        <mat-card-content>
          <b>Headset</b>
        </mat-card-content>
      </mat-card>

      <mat-card class="category" (click)="shopByCatergory('Keyboard')">
        <img
          mat-card-img
          src="https://cdn.pixabay.com/photo/2020/01/12/08/12/keyboard-4759499_1280.jpg"
          alt=""
        />
        <mat-card-content>
          <b>Keyboard</b>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="list-products">
    <router-outlet></router-outlet>
  </div>
</div>
